<div class="calculation-position">
    <div class="document-element">
        <h5>Транспортные средства</h5>
        <vehicle #vehicle [cargoWeightInput]="true" *ngFor="let vehicle of vehicles">
        </vehicle>
    </div>
    <div class="document-element">
        <button pButton label="+" class="btn-control ui-button" (click)="addVehicle()"></button>
        <button pButton label="-" class="btn-control ui-button ui-button-danger" (click)="removeVehicle()"></button>
    </div>
    <div class="document-element">
        <h5>Маршрут</h5>
        <path #path *ngFor="let path of paths"></path>
    </div>
    <div class="document-element">
        <button pButton label="+" class="btn-control ui-button" (click)="addPath()"></button>
        <button pButton label="-" class="btn-control ui-button ui-button-danger" (click)="removePath()"></button>
    </div>
</div>