
<br>
<p-autoComplete [(ngModel)]="carrier" [(hidden)]="editMode" name="carrierId" field="name" [suggestions]="filtered" (completeMethod)="filter($event)" [size]="30"
    [minLength]="1" placeholder="Начните писать название перевозчика" [dropdown]="true">
    <ng-template let-carrier pTemplate="item">
        <div class="ui-helper-clearfix" style="list-style: none; border-bottom:1px solid #D5D5D5">
            <div>{{carrier.name}}</div>
        </div>
    </ng-template>
</p-autoComplete>

<button pButton *ngIf="!editMode" label="Добавить" (click)="editModeOn()" class="btn-control" style="margin-left: 15px;"></button>

<ng-container *ngIf="carrier">
    <button pButton *ngIf="editMode" label="Создать" class="btn-control ui-button-success" (click)="upsert()"></button>
    <button pButton *ngIf="editMode" label="Отменить" (click)="editModeOff()"></button>
    <button pButton *ngIf="!editMode" label="Обновить" class="btn-control" (click)="update()"></button>
    <button pButton *ngIf="!editMode" label="Удалить" class="btn-control ui-button-danger" (click)="delete()"></button>
</ng-container>
<div class="form-container" *ngIf="carrier">
    <form>
        <span class="form-input ui-float-label">
            <input name="name" type="text" size="30" pInputText [(ngModel)]="carrier.name"> 
            <label for="float-input">Название</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="number" size="10" pInputText [(ngModel)]="carrier.postcode"> 
            <label for="float-input">Почтовый индекс</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.address"> 
            <label for="float-input">Адрес</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.phoneNumber"> 
            <label for="float-input">Телефонный номер</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.INN"> 
            <label for="float-input">ИНН</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.KPP"> 
            <label for="float-input">КПП</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.managerPosition"> 
            <label for="float-input">Должность руководителя</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.managerFullName"> 
            <label for="float-input">ФИО руководителя</label>
        </span>
        <span class="form-input ui-float-label">
            <input name="length" type="string" size="20" pInputText [(ngModel)]="carrier.bankCredentials"> 
            <label for="float-input">Банковские реквизиты</label>
        </span>
    </form>
</div>