<div class="document-element">
    <h3>Транспортные средства</h3>
    <vehicle #vehicle [cargoWeightInput]="true" *ngFor="let vehicle of vehicles">
    </vehicle>
</div>
<div class="document-element">
    <button pButton label="+" class="btn-control ui-button" (click)="addVehicle()"></button>
    <button pButton label="-" class="btn-control ui-button ui-button-danger" (click)="removeVehicle()"></button>
</div>
<div class="document-element">
    <h3>Маршрут</h3>
    <path #path *ngFor="let path of paths"></path>
</div>
<div class="document-element">
    <button pButton label="+" class="btn-control ui-button" (click)="addPath()"></button>
    <button pButton label="-" class="btn-control ui-button ui-button-danger" (click)="removePath()"></button>
</div>
<div class="document-element">
    <h3>Перевозчик</h3>
    <carrier></carrier>
</div>
<div *ngIf="logs" class="document-element document-logs">
    <div *ngFor="let log of logs"> 
        {{log}}
    </div>
</div> 
<div class="document-element">
    <button pButton label="Сгенерировать отчет" class="btn-control ui-button-success document-element" (click)="makeCalculation()"></button>
</div>
<div class="document-element" *ngIf="calculation">
    <document [vehiclesPassports]="calculation.vehiclesPassports" 
              [carrier]="calculation.carrier"
              [paths]="calculation.paths">
    </document>
</div>