<vehicle #vehicle [cargoWeightInput]="true" *ngFor="let vehicle of vehicles">
</vehicle>
<div class="document-element">
    <button pButton label="+" class="btn-control ui-button" (click)="addVehicle()"></button>
    <button pButton label="-" class="btn-control ui-button ui-button-danger" (click)="removeVehicle()"></button>
</div>
<div class="document-element">
</div>
<div *ngIf="logs" class="document-element document-logs">
    <div *ngFor="let log of logs"> 
        {{log}}
    </div>
</div> 
<div class="document-element">
    <button pButton label="Сгенерировать отчет" class="btn-control ui-button-success document-element" (click)="makeCalculation()"></button>
</div>