<br>
<p-autoComplete [(ngModel)]="vehicle" [ngModelOptions]="{standalone: true}" field="name" [suggestions]="filteredVehicles" (completeMethod)="filterVehicles($event)" [size]="30"
    [minLength]="1" placeholder="Начните писать название тягача" [dropdown]="true">
    <ng-template let-vehicle pTemplate="item">
        <div class="ui-helper-clearfix" style="list-style: none; border-bottom:1px solid #D5D5D5">
            <div>{{vehicle.name}}</div>
        </div>
    </ng-template>
</p-autoComplete>
<span style="margin-left:50px">Тягач: {{vehicle.id||'none'}}</span>
<form>
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText placeholder="Название"> 
    </span>
    <p-selectButton class="vehicle-type" [options]="types" [(ngModel)]="selectedType"></p-selectButton>
</form>