.ui-autocomplete-dropdown {
    &.ui-button {
        height: 32px;
    }
}
.ui-autocomplete-list {
    list-style: none;
}
.input-wide {
    width: 350px;
}
.form {
    &-container {
        background-color: cornsilk;
        padding: 15px;
        border-radius: 5px;
        margin-top: 15px;
    }
    &-type {
        width: 40px;
    }
    &-input {
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 16px;
    }
}
.document {
    &-element {
        display: block;
        margin-top: 15px;
    }
    &-logs {
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        background-color: darkgray;
        display: inline-block;
    }
}
.ui-button.btn {
    &-control {
        margin: 0 5px;
    }
}

.doc {
    &-table {
    }
    &-loads {
        border: 1px solid black;
        th, td {
            height: 1px;
            font-size: 12px;
            div {
                text-align: center;
            }
        }
        tbody {
            th, td {
                vertical-align: top;
            }
        }
        &__header {
            &--border-r {
                border-right: 1px solid black;                
            }
            &--border-b {
                border-bottom: 1px solid black;
            }
        }
        &__axis-load {
            width: 60px;
        }
        &__size {
            width: 36px;
        }
        &__price {
            width: 70px;
        }
        &__empty-price-holder {
            text-align: right; 
            width: 182px; 
            // height: 70px;
        }
    }
}
