.ui-autocomplete-dropdown {
    &.ui-button {
        height: 32px;
    }
}
.ui-autocomplete-list {
    list-style: none;
}
.input-wide {
    width: 350px;
}
.form {
    &-container {
        background-color: cornsilk;
        padding: 15px;
        border-radius: 5px;
        margin-top: 15px;
    }
    &-type {
        width: 40px;
    }
    &-input {
        display: inline-block;
        margin-top: 15px;
        &:not(:first-child) {
            margin-left: 15px;
        }
    }
}
.document {
    &-element {
        display: block;
        margin-top: 15px;
    }
    &-logs {
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        background-color: darkgray;
        display: inline-block;
    }
}
.ui-button.btn {
    &-control {
        margin: 0 5px;
    }
}