.ui-autocomplete-dropdown {
    &.ui-button {
        height: 32px;
    }
}
.ui-autocomplete-list {
    list-style: none;
}
.input-wide {
    width: 350px;
}
.vehicle {
    &-type {
        width: 40px;
    }
    &-input {
        display: block;
        margin-top: 15px;
    }
}
.ui-button.btn {
    &-control {
        margin: 0 5px;
    }
}