body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    display: inline-block;
    .ui-menuitem-link {
        outline: none;
    }
}

body .ui-tabmenuitem-hasicon {
    float: right!important;
    background-color: #34A835!important;
    .ui-menuitem-link, .ui-menuitem-icon, .ui-menuitem-text {
        color: white!important;
        
    }
}